<mat-card>
    <button *ngIf="!isExpand" mat-icon-button type="button" color="warn" (click)="expandCard()">
        <mat-icon>directions_boat</mat-icon>
        <mat-icon mat-icon-button> expand_more</mat-icon>
    </button>
    <div *ngIf="isExpand">
        <mat-card-header>
            <mat-card-title>Routing control</mat-card-title>
            <mat-card-subtitle>DWRM</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card-subtitle class="m0">Routing style</mat-card-subtitle>
            <section class="section">
                <mat-radio-group color="primary">
                    <mat-radio-button class="margin10" value="BSF" (change)="typeChange('BSF')" [checked]="true">
                        BSF
                    </mat-radio-button>
                    <mat-radio-button class="margin10" value="FSF" (change)="typeChange('FSF')">
                        FSF
                    </mat-radio-button>
                </mat-radio-group>
                <mat-radio-group *ngIf="vType==='FSF'" color="primary">
                    <mat-radio-button class="margin10" value="default" (change)="styleChange(0)" [checked]="true">
                        Default
                    </mat-radio-button>
                    <mat-radio-button class="margin10" value="RNS" (change)="styleChange(1)">
                        RelaxNSafe
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <mat-card-subtitle class="m0">Routing options</mat-card-subtitle>
            <section class="section">
                <mat-slide-toggle style="padding: 8px;" checked="false" color="primary" [(ngModel)]="ignoreMessage" (ngModelChange)="paramChanges()">
                    ignore Messages
                </mat-slide-toggle>
                <mat-slide-toggle style="padding: 8px;" checked="false" color="primary" [(ngModel)]="ignoreSluice" (ngModelChange)="paramChanges()">
                    ignore Sluice
                </mat-slide-toggle>
            </section>
            <mat-divider></mat-divider>
            <mat-card-subtitle class="m0">Routing parameters</mat-card-subtitle>
            <div class="conatiner">
                <mat-form-field>
                    <input matInput [(ngModel)]="selectedMoment" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                        placeholder="Date Time">
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
            </div>
            <table style="width: 100%;">
                <section>
                    <mat-slider color="primary" [max]="30" [min]="10" thumbLabel="true" [(ngModel)]="speed"
                        style="width: 80%;">
                    </mat-slider>
                    <mat-form-field style="width: 20%;">
                        <input matInput placeholder="km/h" [(ngModel)]="speed" maxlength="4" type="number">
                    </mat-form-field>
                </section>
                <mat-card-subtitle [hidden]="this.reqArray.length < 3" class="m0">Multidestination parameters</mat-card-subtitle>
                <section class="section" [hidden]="this.reqArray.length < 3">
                    <mat-slide-toggle style="padding: 8px;" checked="false" color="primary"
                        [(ngModel)]="opt" (ngModelChange)="paramChanges()">
                        optimize route
                    </mat-slide-toggle>
                    <mat-slide-toggle style="padding: 8px;" checked="false" color="primary"
                        [(ngModel)]="oneWay" (ngModelChange)="paramChanges()">
                        Oneway
                    </mat-slide-toggle>
                </section>
            </table>
            <mat-divider></mat-divider>
            <!-- Routing stops -->
            <div class="scroll m0">
                <mat-card-subtitle class="text-center" [hidden]="reqArray.length !== 0">Add Routingstops by using the Button below</mat-card-subtitle>
                <div *ngFor="let o of reqArray; let i = index">
                    <!-- <mat-progress-bar  mode="buffer" [hidden]="i !== acitveDestination && !locatorLoading"  mode="indeterminate"></mat-progress-bar> -->
                    <mat-progress-bar [hidden]="i !== acitveDestination && !locatorLoading" mode="buffer"></mat-progress-bar>
                    <table style="width: 100%;" [class.highlight]="i === acitveDestination">
                        <td>
                            <mat-form-field>
                                <input disabled matInput placeholder="ID" type="text" [(ngModel)]='o.BwastrID'>
                                 <mat-hint [hidden]="i !== acitveDestination">Select by clicking on the map</mat-hint>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input disabled matInput placeholder="KM" type="number" [(ngModel)]='o.km'>
                            </mat-form-field>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <button mat-icon-button (click)="removeStop(i)">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button mat-icon-button (click)="waitForMapClick(i)" [disabled]="locatorLoading">
                                    <mat-icon>add_location</mat-icon>
                                </button>
                            </div>
                        </td>
                    </table>
                </div>
            </div>
            <div class="container">
                <div class="button-row container text-center" style="padding: 5px;">
                    <button mat-mini-fab (click)="addStop()" style="box-shadow: none;" color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions style="margin-bottom: 5px; padding: 4px 0;">
            <button mat-icon-button type="button" (click)="expandCard()">
                <mat-icon *ngIf="isExpand">expand_less</mat-icon>
            </button>
            <button *ngIf="isExpand" mat-button type="button" class="btn btn-danger" 
                    [disabled]="isLoading"
                    [hidden] = "reqArray.length < 2"
                    (click)="findRoute()">
                <div *ngIf="!isLoading">Find Route</div>
                <button mat-button class="lds-ellipsis" *ngIf="isLoading">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </button>

        </mat-card-actions>
    </div>
</mat-card>