<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <nav class="navbar fixed-top navbar-light bg-light flex-md-nowrap p-2 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"
    (input)="searchPort($event.target.value)"
    >
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#"> search </a>
      </li>
    </ul>
  </nav>
        <router-outlet></router-outlet> 

  