<div class="row" style="height: 100%">
  <div class="col" style="padding:0">
    <app-map></app-map>
  </div>
  <div class="col-3 side-bar">
    <div class="container">
      <br>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Routing controll</mat-card-title>
          <mat-card-subtitle>DWRM</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let o of reqArray; let i = index">
            <table style="width: 100%;">
              <td>
                <mat-form-field>
                  <input matInput placeholder="ID" maxlength="4" type="text"
                    [(ngModel)]='reqArray[i].id'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="KM" type="number" [(ngModel)]='reqArray[i].km'>
                </mat-form-field>
              </td>
              <td>
                <div class="input-group-prepend">
                  <button mat-icon-button (click)="removeStop(i)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </table>
          </div>
          <div class="container">
            <mat-form-field>
              <div class="button-row container">
                <button mat-mini-fab (click)="addStop()" color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-form-field>
          </div>
          <div class="conatiner">
            <input matInput [(ngModel)]="selectedMoment" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
            <owl-date-time #dt1></owl-date-time>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" class="btn btn-danger" (click)="findRoute()">Find Route</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>