/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
.leaflet-routing-alternatives-container .leaflet-routing-alt .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none;
}

mat-form-field {
    width: 100%;
	}
	
.mat-form-field-infix {
	display: block;
	position: relative;
	flex: auto;
	min-width: 0;
	width: auto !important;
	/* width: 180px; */
}

html, body {
	 height: 100%;
	 overflow-y: hidden;
	 overflow-x: hidden;
	 /*overflow: scroll;
	 overflow-y: hidden;*/
	}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 0px;/* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.leaflet-tooltip-pane .text {
    color: white; 
    background: transparent;
    border:0;
    box-shadow: none;
    font-size:100%;
    font-family: Roboto;
  }

  .leaflet-tooltip-pane .delay {
    color: black; 
    background: white;
    border:0;
    font-size:100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }